<div class="col-md-6">
  <form [formGroup]="addBlog" (ngSubmit)="postBlog()">

    <div class="form-outline mt-4">
      <input type="text" id="form1Example1" formControlName="name" class="form-control" />
      <label class="form-label" for="form1Example1">Name</label>
    </div>


    <div class="form-outline mt-4">
      <input type="text" id="form1Example2" class="form-control" />
      <label class="form-label" for="form1Example2" formControlName="description">Description</label>
    </div>

    <div class="form-group text-center mt-3 ">
    <button type="submit" class="btn btn-secondary ">Submit</button>
    </div>

  </form>
</div>
