#main{
  padding: 26vh;
  margin: 0 auto;
  width: 100%;
  padding-top: 10vh;}

form {
  margin: 0 auto;
  width: 500px; /*find your value*/

}



fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
}

button{
  background: #D6D07A
};

