<div class="col-md-8 " id="main">
  <div *ngIf="authService.isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <form [formGroup]="login" (ngSubmit)="onSubmit()"  class= " card p-3 bg-light" name="form" novalidate>
    <fieldset >
      <legend class="text-center mb-4">Login Form</legend>
    <div class="form-outline mb-4">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        name="email"
        formControlName="email" />
    </div>

    <div class="form-outline mb-4">
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        name="password"
        formControlName="password" />
    </div>

    <div class="row mb-4">
      <div class="col">
        <a routerLink="resetpassword" class="link-primary">Forgot password?</a>
      </div>
    </div>

    <div class="form-group text-center mt-3 ">
      <button class="btn btn-block"  type="submit">Sign Up</button>
    </div>
  </fieldset>
  </form>

