
<table class="mt-5 table table-dark table-striped">
  <thead>
      <tr>
          <th>name</th>
          <th>description</th>
          <th></th>
          <th></th>
      </tr>
  </thead>

  <tbody>
      <tr *ngFor="let i of blogData">
          <td> {{ i.name }} </td>
          <td> {{ i.description }} </td>
          <td>
               <button type="button" class="btn btn-primary"  *ngIf="authService.isAdmin"
              (click)="onEdit(i)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Edit
              </button>

          </td>
          <td>
              <button (click)="deleteData(id)" *ngIf="authService.isAdmin">Delete</button>
          </td>
      </tr>
  </tbody>

</table>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="myform bg-dark">

            <h1 class="text-center"  *ngIf="authService.isAdmin">Edit Details</h1>

            <form [formGroup]="details">
                <div class="mb-3 mt-4">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <input type="text" class="form-control" formControlName="description" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-light mt-3" (click)="updateData()">Save</button>

            </form>
        </div>
      </div>
    </div>
  </div>
</div>


