
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*,
*:before,
*:after {
  margin: 0;
  padding: 0;

}

body {
  font-family: "Open Sans", sans-serif;
}

th {
  border-bottom: 1px solid #364043;
  color: #434b54;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
  height: 8vh;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}

tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #d6d07a;
}

th {
  background-color: #d6d07a;
}

.modal{
  position: absolute;
  left: 50%;
 transform: translate(-50%, -50%);
 width: 500px;
 height: 300px;
 background-color: #ffffff;
 padding: 20px;
top: 31vh ;
}

.modal-header .btn-close {
 padding: 2vh;
}

#user{
  margin-right: 63vh;
}

.button{
  background: #D6D07A
};
