<div class="row justify-content-center">
  <div class="col-md-8">
    <table class="mt-5 table" id="demo">
      <thead>
        <tr>
          <th>User</th>
          <th>Role</th>
          <th>EmailId</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of UserData">
          <td style="color: #434b54">
            <a style="color: #434b54" [routerLink]="['/selected', i._id]">{{ i.username }}</a>
          </td>
          <td style="color: #434b54">{{ i.role }}</td>
          <td style="color: #434b54">{{ i.email }}</td>
          <td>
            <button type="button" class="btn" style="color: #007c1a" data-bs-toggle="modal"
              data-bs-target="#exampleModal" (click)="onEdit(i)">
              <i class="fa fa-edit"></i> Edit </button>
            <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-dark">Edit User Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-body">
                    <form [formGroup]="userDetails">
                      <div class="form-outline mb-4 form-group mt-3">
                        <label for="exampleInputEmail1" class="form-label text-dark" id="user">Username:</label>
                        <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1"
                          aria-describedby="emailHelp" />
                      </div>

                      <div class="form-outline mb-4">
                        <label for="exampleInputPassword1" class="form-label text-dark" id="email">Email:</label>
                        <input type="text" class="form-control" formControlName="email" id="exampleInputPassword1" />
                      </div>
                      <button type="submit" class="btn btn-block mt-2  button" data-bs-dismiss="modal"
                        (click)="updateData()">
                        Save
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <button (click)="deleteData(i)" id="delete" class="btn" style="color: red">
              <i class="fa fa-trash-o"></i>
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <mat-paginator [length]="totalUser" [pageSize]="usersPerPage" [pageSizeOptions]="[2, 4, 6, 8]"
      (page)="onChangedPage($event)">
    </mat-paginator>
  </div>
</div>
