<div class="col-md-12">


    <form [formGroup]="signUp" (ngSubmit)="submit()"
      name="form"  novalidate>
<!--  -->
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username"
        formControlName="username"/>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email"
          formControlName="email"/></div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password"
            formControlName="password"/></div>

            <div class="form-group">
              <label for="role">Role</label>
              <input type="text" class="form-control" name="role"
              formControlName="role"/></div>

      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
      </div>

</form>
</div>
